@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
	background:#48a7e0;
}
	
.body_tert{
		width:50rem;
		height:35rem;
		display:flex;
		align-items:center;
		justify-content:center;
		background:white;
		margin:20px 200px;
		border-radius:10px;
}

.body_tert .right{
	flex-basis:25%;
	width:25rem;
	height:20rem;
	background:white;
}

.body_tert .right small{
	font-family: 'Montserrat', sans-serif;
}

.body_tert .right h2{
	font-family: 'Montserrat', sans-serif;
	font-size:45px;
	font-weight:bold;
}

.body_tert .right form input{
	width:300px;
	border:1px solid black;
	border-radius:10px;
	height:3rem;
}

.body_tert .right form input::placeholder{
	font-family: 'Montserrat', sans-serif;
}


.body_tert .left{
	flex-basis:25%;
	width:25rem;
	height:20rem;
	background:white;
	
}

.body_tert .left img{
	margin-top:140px;
}


