@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
	--font:'Montserrat', sans-serif;
	--primary-color:#48a7e0;
}


/* header part*/

header{
	display:flex;
	align-items:center;
	justify-content-center;
}